.Reminder {
  &.Item {
    color: aliceblue;
    border-radius: 5px;
    width: 95%;
    max-width: 50vw;
    height: 1.5rem;
    padding: 0;
    padding-inline-start: 5px;
    font-size: small;
    @media (max-width: 450px) {
      width: 100%;
    }
  }

  &.Item > span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.Details-actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
}
