

.Reminder {
    &.Item {
        color: aliceblue;
        border-radius: 50px;
        width: 90%;
        height: 1.5rem;
        padding: 0;
    }

    &.Details-actions {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
    }

}